@charset "UTF-8";

/* ------------------------------------------------------------------- */
/* REGRAS UNIVERSAL ABAIXO */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* CONFIGURAÇÕES UNIVERSAL ACIMA */
/* ------------------------------------------------------------------- */
#manterlogado {
    position: relative;
    background-color: #066a75;
    width: 15px;
}

#manterlogadoum {
    width: 22px;
    height: 22px;
}
#manterlogadodois {
    width: 22px;
    height: 22px;
}
#checkdireita {
    position: relative;
    /* background-color: #0075cd; */
    width: 180px;
    float: right;

    z-index: 10;
}

#efect {
    position: relative;
    width: 370px;
    margin: auto;
    /* left: 250px; */
}

#preloader6{
    position:relative;
	width: 42px;
	height: 42px;
	animation: preloader_6 5s infinite linear;
}
#preloader6 span{
	width:20px;
	height:20px;
	position:absolute;
	background:red;
	display:block;
	animation: preloader_6_span 1s infinite linear;
}
#preloader6 span:nth-child(1){
background:#2ecc71;

}
#preloader6 span:nth-child(2){
left:22px;
background:#9b59b6;
	animation-delay: .2s;

}
#preloader6 span:nth-child(3){
top:22px;
background:#3498db;
	animation-delay: .4s;
}
#preloader6 span:nth-child(4){
top:22px;
left:22px;
background:#f1c40f;
	animation-delay: .6s;
}
@keyframes preloader_6_span {
   0% { transform:scale(1); }
   50% { transform:scale(0.5); }
   100% { transform:scale(1); }
}

body {
    background-image: url(../_imgs/backround.jpg);
    background-repeat: initial;
    width: 4000;
    border: 0px;
    padding-top: 40px;
}

/* ---------------------------- CARREGAMENTO DA PÁGINA ----------------------------- */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#273a49; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
#txt_preloader {
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}


 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* -------------------------- FIM CARREGAMENTO PÁGINA --------------------------- */


header {
    position: relative;
    width: 900px;
    top: 18px;
    /* background-color: brown; */
    /* top: 50%; centralizar a parte interna do preload (onde fica a animação) */
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 204, 204);
    letter-spacing: 2px;
    text-align: center;
    z-index: 10;
    transition: 1s;
}


#nomeEmpresa {
    position: relative;
    /* background-color: cornsilk; */
    width: 250px;
    height: 36px;
    margin: auto;
    z-index: 10;
}
#caractereLogado {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    /* font-weight: bolder; */
}
#logado {
    position: relative;
    width: 280px;
    height: 50px;
    float: right;
    top: -52px;
    right: 0px;
    /* background-color: darkcyan; */
    z-index: 10;
}
#superiorLogado {
    position: relative;
    width: 20px;
    height: 29px;
    margin: auto;
    z-index: 10;
}




h6 {
    position: relative;
    top: 7px;
    letter-spacing: 2px;
}

#conteudoPrincipal {
    position: relative;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    width: 900px;
    height: 640px;
    background-color: #fff;
    z-index: 20;
}

#backgroundMenus {
    position: relative;
    top: 8px;
    left: 8px;
    width: 90px;
    height: 500px;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 20;
}

#menuPrincipalP {
    position: relative;
    top: 8px;
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: #f4f3f7;
    border: solid 1px #dddcdc;
    z-index: 20;
}
#menuPrincipalP:hover {
    background-color: #eceaea;
}
#menuPinicio {
    position: relative;
    top: 10px;
    left: 19px;
    z-index: 20;
}

#menuUnidadesP {
    position: relative;
    top: 8px;
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 20;
}
#menuUnidadesP:hover {
    background-color: #eceaea;
}
#menuPunidades {
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 20;
}

#menuRelatoriosP {
    position: relative;
    top: 8px;
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 20;
}
#menuSairP {
    position: relative;
    top: 130px;
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 20;
}
#menuSairP:hover {
    background-color: #eceaea;
}
#menuRelatoriosP:hover {
    background-color: #eceaea;
}
#menuPrelatorios {
    position: relative;
    top: 10px;
    left: 3px;
    z-index: 20;
}
#menuPsair {
    position: relative;
    top: 24px;
    left: -20px;
    z-index: 20;
}

#imgPrincipal {
    position: relative;
    left: 50%;
    height: 50%;
    transform: translate(-50%, 30%);
    text-align: center;
    z-index: 20;
}

.menusLateral {
    position: relative;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    color: #000;
    font-size: 8px;
    z-index: 20;
}
.menusLateral:hover {
    color: #1a6dc3;
}

#apControle {
    /* display: none; */
    position: absolute;
    left: 110px;
    top: 10px;
    width: 760px;
    height: 60px;
    /* background-color: brown; */
    z-index: 20;
}

#imageApControle {
    /* display: none; */
    position: relative;
    top: 4px;
    left: 5px;
    width: 50px;
    height: 50px;
    /* background-color: #fff; */
    z-index: 20;
}

#txtApControle {
    position: relative;
    top: -46px;
    left: 60px;
    width: 690px;
    height: 50px;
    letter-spacing: 1px;
    color: #1861af;
    /* background-color: rgb(194, 207, 12); */
    padding-top: 20px;
    /* padding-left: 12px; */
    z-index: 20;
}

#imageTituloPg {
    /* display: none; */
    position: absolute;
    top: 24px;
    left: 406px;
    width: 528px;
    height: 39px;
    z-index: 20;
}
#imageTituloDashBoard {
    /* display: none; */
    position: absolute;
    top: 24px;
    left: 372px;
    width: 528px;
    height: 39px;
    z-index: 20;
}

#menuGunidades {
    /* display: none; */
    position: absolute;
    left: 120px;
    top: 80px;
    width: 230px;
    height: 260px;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 20;
}
#menuGunidades:hover {
    /* display: none; */
    background-color: #eceaea;
    color: #1a6dc3;
}

#iconGunidades {
    /* display: none; */
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 60;
}

#txtMenuGunidades {
    /* display: none; */
    position: relative;
    top: 20px;
    left: 4px;
    padding-left: 20px;
    width: 220px;
    height: 130px;
    /* background-color: aqua; */
    z-index: 60;
}

#espaceTopunidades {
    /* display: none; */
    position: relative;
    top: 8px;
    z-index: 60;
}

.setaMenuGunidades {
    /* display: none; */
    position: relative;
    width: 140px;
    height: 240px;
    /* background-color: brown; */
    padding-top: 160px;
    top: -152px;
    left: 0px;
    z-index: 58;
    transition: 2s;
}
.setaMenuGunidades:hover {
    /* display: none; */
    left: 60px;
}

#imageAddUm {
    /* display: none; */
    position: relative;
    top: -220px;
    left: 148px;
    width: 45px;
    height: 49px;
    /* background-color: darkorange; */
    z-index: 60;
}
#imageAddDois {
    /* display: none; */
    position: relative;
    top: 20px;
    left: 148px;
    width: 45px;
    height: 49px;
    /* background-color: darkorange; */
    z-index: 60;
}
#imageAddTres {
    /* display: none; */
    position: relative;
    top: 20px;
    left: 160px;
    width: 45px;
    height: 49px;
    /* background-color: darkorange; */
    z-index: 60;
}

#setaMenuGinquilinos {
    /* display: none; */
    position: relative;
    width: 140px;
    height: 240px;
    /* background-color: brown; */
    padding-top: 160px;
    top: -202px;
    left: 0px;
    z-index: 58;
    transition: 2s;
}
#setaMenuGinquilinos:hover {
    /* display: none; */
    left: 60px;
}
#setaMenuGrelatorios {
    /* display: none; */
    position: relative;
    width: 140px;
    height: 240px;
    /* background-color: brown; */
    padding-top: 160px;
    top: -202px;
    left: 0px;
    z-index: 58;
    transition: 2s;
}
#setaMenuGrelatorios:hover {
    /* display: none; */
    left: 60px;
}

#linkMenuGinicio {
    /* display: none; */
    position: relative;
    text-decoration: none;
    color: #000;
    /* background-color: darkorange; */
    z-index: 58;
}
#linkMenuGinquilinos {
    /* display: none; */
    position: relative;
    text-decoration: none;
    color: #000;
    /* background-color: darkorange; */
    z-index: 58;
}
#linkGmenurelatorios {
    /* display: none; */
    position: relative;
    text-decoration: none;
    color: #000;
    /* background-color: darkorange; */
    z-index: 58;
}

.unidadesCadastradas {
    /* display: none; */
    position: relative;
    top: -232px;
    left: -10px;
    width: 200px;
    height: 30px;
    color: #000;
    /* background-color: cornflowerblue; */
    z-index: 60;
}
.titulosRelatorios {
    /* display: none; */
    position: relative;
    width: 140px;
    height: 16px;
    /* background-color: cornflowerblue; */
    top: -34px;
    left: 20px;
    letter-spacing: 1px;
    z-index: 60;
}
#relatoriosGerados {
    /* display: none; */
    position: relative;
    top: -232px;
    left: 6px;
    width: 200px;
    height: 30px;
    color: #000;
    /* background-color: cornflowerblue; */
    z-index: 60;
}

#menuGinquilinos {
    /* display: none; */
    position: absolute;
    left: 382px;
    top: 80px;
    width: 230px;
    height: 260px;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 60;
}
#menuGinquilinos:hover {
    /* display: none; */
    background-color: #eceaea;
    color: #1a6dc3;
}

#menuGrelatorios {
    /* display: none; */
    position: absolute;
    left: 646px;
    top: 80px;
    width: 230px;
    height: 260px;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 60;
}
#menuGrelatorios:hover {
    /* display: none; */
    background-color: #eceaea;
    color: #1a6dc3;
}
#txtMenuRelatorios {
    /* display: none; */
    position: relative;
    top: 20px;
    left: 4px;
    padding-left: 6px;
    width: 220px;
    height: 130px;
    /* background-color: aqua; */
    z-index: 60;
}
#espaceTopunidades {
    /* display: none; */
    position: relative;
    top: 8px;
    z-index: 60;
}



#tituloGrafico {
    /* display: none; */
    position: absolute;
    top: 360px;
    left: 98px;
    z-index: 70;
}

#imgGrafico {
    /* display: none; */
    position: absolute;
    top: 400px;
    left: 260px;

    z-index: 80;
}

#dashBoard {
    width: 380px;
    /* height: 200px; */
}

#conteudoFormulario {
    position: absolute;
    top: 80px;
    left: 140px;
    width: 760px;
    height: 450px;
    /* background-color: aqua; */
    z-index: 80;
}

/* Daqui pra baixo */

.user{
    width: 280px;
    height: 80px;
    margin: auto;
    margin-left: 610px;
    margin-top: 50px;
}

.passoword{
    width: 480px;
    height: 80px;
    margin: auto;
    margin-left: 610px;
    margin-top: 2px;
}
.btn_entrar{
    width: 300px;
    height: 80px;
    margin: auto;
    text-align: center;
    margin-left: 600px;
}
a{
    text-decoration: none;
}
   
/* esconde as ancoras da tela */
a.links{
    display: none;
}
.content{
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;   
  }
h1{
    font-size: 48px;
    color: #066a75;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 10px;
  }
h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}
p{
    margin-bottom:15px;
}
   
.content p:first-child{
    margin: 0px;
}

#cadastrado {
    position: relative;
    top: -5px;
}

#nao_cadastrado {
    position: relative;
    top: -5px;
}

#sexoMasculino {
    position: relative;
    top: -5px;
}
   
label{
    color: #405c60;
    position: relative;
}
/* placeholder */
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
}
   
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
}
input{
    outline: none;
}
   
/*estilo dos input,  menos o checkbox */
input:not([type="radio"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;

    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

select {
    /* width: 95%; */
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
    background-color: #fff;

    -webkit-border-radius: 3px;
    border-radius: 3px;
   
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
   
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#dataCadastro {
    width: 95%;
    color: #6b6a6a;
}
#estado {
    width: 95%;
    color: #6b6a6a;
}
#municipio {
    width: 95%;
    color: #6b6a6a;
}

option {
    color: #4b4a4a;
    font-style: italic;
}

.estado {
    width: 710px;
    height: 40px;
    margin-top: 4px;
}
   
  /*estilo do botão submit */
#cadastrar {
    /* display: none; */
    width: 330px;
    text-align: center;
    cursor: pointer;  
    background: #0075cd;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff;   
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}
   
  /*estilo do botão submit no hover */
#cadastrar:hover{
    background: #55b0f5;
}
#login{
    position: relative;
    top: 86px;
    width: 750px;
    margin: auto;

}
select{
    width: 100%;  
    height: 35px;
    margin: auto;
}
.linha {
    position: relative;
    top: 62px;
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}
.linhasMais {
    position: relative;
    top: 10px;
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);     
}

#blocoDoisCadastro {
    position: relative;
    /* background-color: #2ecc71; */
    top: 10px;
    width: 100%;
}


/* Daqui pra cima */



@media (max-width: 975px){

    header {
        width: 375px;
    }

    #conteudoFormulario {
        width: 250px;
        left: 110px;
    }

    #logado {
        display: none;
    }

    #conteudoPrincipal {
        width: 375px;
        height: 900px;
    }

    #apControle {
        width: 260px;
    }

    #txtApControle {
        width: 190px;
    }

    #imageTituloDashBoard {
        display: none;
    }

    #menuGunidades {
        /* position: relative; */
        top: 70px;
        left: 120px;
        z-index: 20;
    }

    #menuGinquilinos {
        /* display: none; */
        /* position: relative; */
        top: 338px;
        left: 120px;
        z-index: 20;
    }

    #menuGrelatorios {
        /* display: none; */
        /* position: relative; */
        top: 607px;
        left: 120px;
        z-index: 20;
    }


    #tituloGrafico {
        display: none;
    }

    #imageTituloPg {
        display: none;
    }


    #imgGrafico {
        display: none;
    }

    #cadastrar {
        width: 140px;
    }



}