@charset "UTF-8";

/* ------------------------------------------------------------------- */
/* REGRAS UNIVERSAL ABAIXO */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* CONFIGURAÇÕES UNIVERSAL ACIMA */
/* ------------------------------------------------------------------- */
#manterlogado {
    position: relative;
    background-color: #066a75;
    width: 15px;
}

#manterlogadoum {
    width: 22px;
    height: 22px;
}
#manterlogadodois {
    width: 22px;
    height: 22px;
}
#checkdireita {
    position: relative;
    /* background-color: #0075cd; */
    width: 180px;
    float: right;

    z-index: 10;
}

#efect {
    position: relative;
    width: 370px;
    margin: auto;
    /* left: 250px; */
}

#preloader6{
    position:relative;
	width: 42px;
	height: 42px;
	animation: preloader_6 5s infinite linear;
}
#preloader6 span{
	width:20px;
	height:20px;
	position:absolute;
	background:red;
	display:block;
	animation: preloader_6_span 1s infinite linear;
}
#preloader6 span:nth-child(1){
background:#2ecc71;

}
#preloader6 span:nth-child(2){
left:22px;
background:#9b59b6;
	animation-delay: .2s;

}
#preloader6 span:nth-child(3){
top:22px;
background:#3498db;
	animation-delay: .4s;
}
#preloader6 span:nth-child(4){
top:22px;
left:22px;
background:#f1c40f;
	animation-delay: .6s;
}
@keyframes preloader_6_span {
   0% { transform:scale(1); }
   50% { transform:scale(0.5); }
   100% { transform:scale(1); }
}

body {
    background-image: url(../_imgs/backround.jpg);
    background-repeat: initial;
    width: 4000;
    border: 0px;
    padding-top: 40px;
}

/* ---------------------------- CARREGAMENTO DA PÁGINA ----------------------------- */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#273a49; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
#txt_preloader {
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}


 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* -------------------------- FIM CARREGAMENTO PÁGINA --------------------------- */


header {
    position: relative;
    width: 900px;
    top: 18px;
    /* background-color: brown; */
    /* top: 50%; centralizar a parte interna do preload (onde fica a animação) */
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 204, 204);
    letter-spacing: 2px;
    text-align: center;
    z-index: 10;
    transition: 1s;
}


#nomeEmpresa {
    position: relative;
    /* background-color: cornsilk; */
    width: 250px;
    height: 36px;
    margin: auto;
    z-index: 10;
}
#caractereLogado {
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    /* font-weight: bolder; */
}
#logado {
    position: relative;
    width: 280px;
    height: 50px;
    float: right;
    top: -52px;
    right: 0px;
    /* background-color: darkcyan; */
    z-index: 10;
}
#superiorLogado {
    position: relative;
    width: 20px;
    height: 29px;
    margin: auto;
    z-index: 10;
}




h6 {
    position: relative;
    top: 7px;
    letter-spacing: 2px;
}

#conteudoPrincipal {
    position: relative;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    width: 900px;
    height: 640px;
    background-color: #fff;
    z-index: 20;
}

#backgroundMenus {
    position: relative;
    top: 8px;
    left: 8px;
    width: 90px;
    height: 500px;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 30;
}

#menuPrincipalP {
    position: relative;
    top: 8px;
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 40;
}
#menuPrincipalP:hover {
    background-color: #eceaea;
}
#menuPinicio {
    position: relative;
    top: 10px;
    left: 19px;
    z-index: 52;
}

#menuUnidadesP {
    position: relative;
    top: 8px;
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 40;
}
#menuUnidadesP:hover {
    background-color: #eceaea;
}
#menuPunidades {
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 52;
}

#menuRelatoriosP {
    position: relative;
    top: 8px;
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 40;
}
#menuRelatoriosP:hover {
    background-color: #eceaea;
}
#menuPrelatorios {
    position: relative;
    top: 10px;
    left: 3px;
    z-index: 52;
}
#menuPsair {
    position: relative;
    top: 24px;
    left: -20px;
    z-index: 52;
}

#imgPrincipal {
    position: relative;
    left: 50%;
    height: 50%;
    transform: translate(-50%, 30%);
    text-align: center;
    z-index: 50;
}

.menusLateral {
    position: relative;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    color: #000;
    font-size: 8px;
}
.menusLateral:hover {
    color: #1a6dc3;
}

#apControle {
    position: relative;
    left: 110px;
    top: -490px;
    width: 760px;
    height: 60px;
    /* background-color: brown; */
    z-index: 50;
}

#imageApControle {
    position: relative;
    top: 4px;
    left: 5px;
    width: 50px;
    height: 50px;
    /* background-color: #fff; */
    z-index: 50;
}

#txtApControle {
    position: relative;
    top: -46px;
    left: 60px;
    width: 690px;
    height: 50px;
    letter-spacing: 1px;
    color: #1861af;
    /* background-color: rgb(194, 207, 12); */
    padding-top: 20px;
    /* padding-left: 12px; */
    z-index: 50;
}

#menuGunidades {
    position: relative;
    left: 120px;
    top: -490px;
    width: 230px;
    height: 260px;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 60;
}
#menuGunidades:hover {
    background-color: #eceaea;
    color: #1a6dc3;
}

#iconGunidades {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 60;
}

#txtMenuGunidades {
    position: relative;
    top: 20px;
    left: 4px;
    padding-left: 20px;
    width: 220px;
    height: 130px;
    /* background-color: aqua; */
    z-index: 60;
}

#espaceTopunidades {
    position: relative;
    top: 8px;
    z-index: 60;
}

#setaMenuGunidades {
    position: relative;
    width: 140px;
    height: 240px;
    /* background-color: brown; */
    padding-top: 160px;
    top: -152px;
    left: 0px;
    z-index: 58;
    transition: 2s;
}
#setaMenuGunidades:hover {
    left: 60px;
}

#linkMenuGinicio {
    position: relative;
    text-decoration: none;
    color: #000;
    /* background-color: darkorange; */
    z-index: 58;
}
#linkMenuGinquilinos {
    position: relative;
    text-decoration: none;
    color: #000;
    /* background-color: darkorange; */
    z-index: 58;
}
#linkGmenurelatorios {
    position: relative;
    text-decoration: none;
    color: #000;
    /* background-color: darkorange; */
    z-index: 58;
}

#unidadesCadastradas {
    position: relative;
    top: -188px;
    width: 200px;
    height: 30px;
    color: #000;
    /* background-color: cornflowerblue; */
    z-index: 60;
}
#unidadesCadastradasUm {
    position: relative;
    width: 140px;
    height: 16px;
    /* background-color: cornflowerblue; */
    top: -34px;
    left: 20px;
    letter-spacing: 1px;
    z-index: 60;
}

#menuGinquilinos {
    position: relative;
    left: 360px;
    top: -750px;
    width: 230px;
    height: 260px;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 60;
}
#menuGinquilinos:hover {
    background-color: #eceaea;
    color: #1a6dc3;
}

#menuGrelatorios {
    position: relative;
    left: 600px;
    top: -1010px;
    width: 230px;
    height: 260px;
    background-color: #f7f3f3;
    border: solid 1px #dddcdc;
    z-index: 60;
}
#menuGrelatorios:hover {
    background-color: #eceaea;
    color: #1a6dc3;
}
#txtMenuRelatorios {
    position: relative;
    top: 20px;
    left: 4px;
    padding-left: 6px;
    width: 220px;
    height: 130px;
    /* background-color: aqua; */
    z-index: 60;
}
#espaceTopunidades {
    position: relative;
    top: 8px;
    z-index: 60;
}










@media (max-width: 975px){

    header {
        width: 375px;
    }

    #logado {
        display: none;
    }

    #conteudoPrincipal {
        width: 375px;
        height: 950px;
    }

    #apControle {
        width: 260px;
    }

    #txtApControle {
        width: 190px;
    }

    #menuGinquilinos {
        position: relative;
        top: -470px;
        left: 120px;
        z-index: 60;
    }

    #menuGrelatorios {
        position: relative;
        top: -450px;
        left: 120px;
        z-index: 60;
    }



}